:root {
    --ada-blue: #336178;
    --ada-red: #ae485e;
  }
  
  body {
    background-color: var(--ada-blue);
  }
  *
  
   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .logo a img{
    padding-left: 4px;
    width: 61px;
    height: 61px;
    object-fit: cover;
  }
  
  h1 {
    font-size: 3.5em;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 15px;
  }
  footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1em;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(128, 128, 128);
      }
  
      body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        background-image:linear-gradient(to right,rgba(43, 42, 42, 0.050),rgba(33, 33, 33, 0.050),rgba(33, 33, 33, 0.0),rgba(33, 33, 33, 0.00),rgba(33, 33, 33, 0.00)),url('bg_info_page.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      
      
      
      header {
        background-color: rgba(0,0,0, .7);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        background-size: cover;
        color: white;
        text-align: center;
        padding: 1em;
      
      }
  
  
      nav {
        background-color: #3498db;
        padding: 1em;
        background-color:rgba(2, 153, 209,.7);
      }
  
      nav a {
        color: white;
        background-color:var(--ada-blue);
        text-decoration: none;
        margin-right: 12px;
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      }
  
  #team-members {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 2em;
  }
  
  .team-member {
      width: 300px;
      margin: 1em;
      text-align: center;
      background-color:white;
      padding: 1em;
      border-radius: 10px;
  }
  
  .team-member img {
    width: 150px;           
    height: 150px;         
    object-fit: cover;    
    border-radius: 50%;    
  }
  
  
  .team-member p {
      margin-bottom: 10px;
  }